@import 'scss/header.scss';
@import 'scss/Main.scss';
@import './scss/Card.scss';
@import './scss/Footer.scss';


body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
}

a {
  color: #505F98;
  text-decoration: none;
  background-color: transparent;
}
