@import 'scss/header.scss';
@import 'scss/Main.scss';
@import './scss/Card.scss';

footer {
  background-color: plum;
  width: 100%;
  height: 100px;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
}

a {
  color: #505F98;
  text-decoration: none;
  background-color: transparent;
}
