aniso8601==7.0.0
asgiref==3.2.10
bcrypt==3.2.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
Django==3.1.1
django-cors-headers==3.5.0
django-environ==0.4.5
django-filter==2.3.0
django-graphql-jwt==0.3.1
graphene==2.1.8
graphene-django==2.13.0
graphql-core==2.3.2
graphql-relay==2.0.1
idna==2.10
Pillow==7.2.0
promise==2.3
pycparser==2.20
PyJWT==1.7.1
pytz==2020.1
Rx==1.6.1
singledispatch==3.4.0.3
six==1.15.0
sqlparse==0.3.1
Unidecode==1.1.1
urllib3==1.25.10
uWSGI==2.0.19.1
