.counsel{
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-wrap: wrap;
    width: 100%;
  }
  &-box {
    width: 320px;
    margin: 24px;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
  }
  &-title {
    font-size: 24px;
  }
}