@import "mixin";



.main-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    width: 100%;
    height: 80vh;

    background-image: url(../assets/mainbackground.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

    .txt {
      text-align: center;
      width: 70%;
      

      &-headline {
        line-height: 150%;
        color: white;
      }

      &-sub {
        line-height: 180%;
        color: white;
      }

      .btns {
        display: flex;
        justify-content: center;
        font-size: 16px;
        
        .btn {
          display: flex;
          justify-content: center;
          font-size: 12px;
          align-items: center;
          width: 140px;
          margin-right: 10px;
          margin-left: 10px;
          height: 50px;
        }
        .counsel {
          background-color: #9892BE;
        }
        .moreinfo {
          color: black;
          background-color: #F4F9FF;
        }

        a {
          color: white;
        }
      }

    }
  }
  .cards {
    margin-top: 50px;
  }
}

@include desktop {
  .txt {
    &-headline {
      font-size: 36px;
    }
  }
}

@include mobile {
  .row {
    .txt {
      width: 80%;
      max-width: 80% !important;
      margin: 0 auto !important;

      &-headline {
        font-size: 24px;
        font-weight: bold;
        line-height: 150%;
        color: white;
      }
    }

  }
}