@media screen and (max-width: 1300px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-txt {
    width: 80%;
    max-width: 80% !important;
    margin: 0 auto !important;
  }
}

.main-container {
  height: 1100px;
  padding: 0 40px;
  margin-top: 100px;

  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 35px 40px;
    margin: 0 auto;

    .col-txt {
      max-width: 35%;
      margin: 100px auto 0 10%;

      h1{
        font-size: 50px;
        font-weight: bold;
        color:white;
      }
      .btn {
        &1{
          margin-right: 30px;
          font-size: 17px;
          padding: 10px 40px;
          background:white;
          border-radius: 3px;
          color: #111b47;
        }
        &2{
          font-size: 17px;
          padding: 11px 31px;
          background:#111b47;
          border-radius: 3px;
          color:white;
        }
      }

      p {
        padding: 0 0 50px;
        font-size: 20px;
        font-weight: 200;
        line-height: 150%;;
        color:white;
      }
    }

    .col-img {
      padding-left: 40px;
      padding-right: 40px;
      display: flex;
      justify-content: center;
      img {
        width: 105%;
      }
    }
  }
}

.Main {
  position: relative;
  height: auto;
}

.container {
  z-index: -1;
  display: flex;
  background-image: url(../assets/main_banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
