@import 'mixin';

.Post-{
    &root{
        display:flex;
        flex-direction: column;
        margin :20px auto;
        .return-btn{
            margin : 30px 0;
            a{
                background: rgb(152, 152, 250);
                color:white;
                border-radius: 15em;
                padding:0 15px;
                font-weight: 700;
                font-size: 24px;
            }
            h3{
                display:inline-block;
                margin: 0px 10px;
            }
        }
    }
    &content{
        display:flex;
        flex-direction: column;
        

        padding: 30px;
        margin:0 auto;
        width: 90%;

        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.08);
        box-sizing: border-box;
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
        border-radius: 12px;

        .tags {
            display: flex;
            color: #666080;
            p {
                margin-right: 8px;
            }
        }
        .body{
            width:100%;
            margin:30px auto;
            &-text{
                margin:50px auto;
            }
        }
        .foot {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .indicator {
                display: flex;
                align-items: center;
                .heart {
                    font-size: 24px;
                    color: rgb(248, 78, 106);
                }
                .heart:hover {
                    font-weight: 900;
                }
                .number {
                    margin-left: 4px;
                    font-size: 20px;
                }
            }
            .writer{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                p {
                    margin-left: 12px;
                    font-size: 20px;
                }
            }
        }
        
    }
    &underbox{
        width:90%;
        margin :30px auto;
        max-width: 1000px;
        hr {
            border-top: 1px solid #eee;
        }
        .comment-container {
            .input {
                display: flex;
                width: 100%;
                height: 56px;
                margin-bottom: 24px;
                justify-content: center;
                // align-items: center;
                textarea {
                    resize: none;
                    width: 85%;
                    // height: 56px;
                    margin-right: 12px;
                    border-radius: 8px;
                    padding: 2px;
                }
                button {
                    // height: 32px;
                    background-color: #5e5e5e;
                    color: rgb(255, 255, 255);
                    border: none;
                    border-radius: 8px;
                }
            }
        }
        .side-box{
            width:90%;
            margin:30px auto;
            
            display:flex;
            justify-content: space-between;

            .tags{
                color: rgb(70, 65, 217);
            }
        }
    }
}

@include desktop {
    .Post- {
        &root{
            width:70%;
        }
    }
}
@include mobile {
    .Post- {
        &root{
            width:98%;
        }
    }
}