

.tag{
    display:flex;
    flex-direction: column;
    width:80%;
    margin:10px auto;

    &-container{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        border:0.1px solid rgb(217, 238, 255);
        border-radius: 1em;
        padding:20px 20px;
    }

    &-card{
        margin:10px 10px;
        padding:10px 20px;
        background: rgb(235, 250, 255);
        border-radius: 10em;
        border:0.05px solid rgb(217, 238, 255);
    }
}

.Post{
    &-root{
        width:80%;
        margin:50px auto;
        h1{
            text-align: center;
        }
    }
    &-box{
        display:flex;
        width:80%;
        margin: 10px auto;
        justify-content: space-between;
    }

    a{
        margin-left:auto;
        font-size: 17px;
        padding: 10px 20px;
        background: #111B47;
        border-radius: 8px;
        color: white;
        height:30px;
    }
}