.root{
    width: 60%;
    margin:30px auto;
    .return{
        display:flex;
        flex-direction: row;
        margin:10px auto 10px 30px;

        h3{
            margin: 5px 10px;
        }
        a{
            background: rgb(152, 152, 250);
            color:white;
            border-radius: 15em;
            padding:0 15px;
            font-weight: 700;
            font-size: 24px;
        }
    }
}

.write-container{
    width:80%;
    .box{
        margin:20px 20px;
        
        input,textarea{
            width:100%;
            border-radius:8px;
            border: 1px solid #ddd;

        }
        .write-input {
            height: 28px;
        }
        textarea{
            resize: none;
            height: 400px;
        }
    }

    .write-btn{
        width:100%;
        color:white;
        font-weight:bold;
        font-size: 15px;
        padding:8px 20px;
        background: rgb(152, 152, 250);
        border-radius: 3em;
        border: none;
    }

    background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.08);
	box-sizing: border-box;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
    border-radius: 7px;
    padding: 32px;
	margin-bottom: 50px;
}